@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand+SC&family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400&display=swap');
*{
    font-family: 'Work Sans', sans-serif;
}
.primary-text{
    @apply text-zinc-800 
}
.primary-text::selection{
    @apply primary-bg
}
.primary-bg{
    @apply bg-zinc-800
}
.secondary-text{
    @apply text-zinc-100 
}
.secondary-text::selection{
    @apply secondary-bg 
}
.secondary-bg{
    @apply bg-zinc-100
}
.header{
   @apply  primary-bg secondary-text h-16 flex justify-between shadow-md items-center
}
.intro-text{
    font-family: 'Patrick Hand SC', cursive;
    @apply  secondary-text 
}
.intro-text-2{
    font-family: 'Patrick Hand SC', cursive;
    @apply  secondary-text text-2xl 
}
.inner-intro{
    @apply absolute w-full flex justify-center items-center h-full
}
.wrap{
    @apply mx-6 text-lg
}
.btn-primary{
    @apply secondary-bg flex gap-2 justify-center font-bold items-center primary-text p-2 text-sm rounded
}
.btn-primary:hover{
    @apply ring ring-2 ring-zinc-200 ring-offset-1 ring-offset-zinc-800
}
.btn-primary:active{
@apply primary-bg secondary-text
}
.btn-secondary{
    @apply primary-bg flex items-center justify-center gap-2 secondary-text p-2 text-sm rounded
}
.btn-secondary:hover{
    @apply ring ring-2 ring-zinc-300 ring-offset-1 ring-offset-zinc-600
}
.btn-seconday:active{
@apply primary-bg secondary-text
}
.form{
    @apply container px-8 h-full border  secondary-bg lg:w-4/6 w-5/6 my-3  mx-auto
}
.form-sign{
    @apply lg:w-1/4 w-2/4 secondary-bg gap-3  mx-auto grid grid-cols-1 border p-12 mt-24
}
.icontext{
    @apply flex items-center gap-2
}
legend{
    @apply primary-bg border-2 secondary-text px-3 py-1 shadow-lg rounded mb-6 mx-auto
}
.form-control{
    @apply appearance-none border-gray-500 col-span-2 rounded py-2 px-3 w-full leading-tight focus:outline-none 
}
.form-control:focus{
    @apply ring-zinc-200 ring-4 transition  ring-offset-2  ring-offset-zinc-600 border-none
}
.greenBorder{
    @apply border-green-500 border
}
.inner-form{
    @apply grid grid-cols-6 gap-6
}
.wrongInput{
    @apply border-red-400  border  ring-1 ring-red-500  ring-offset-red-200
}
.success{
    @apply grid gap-4 px-4 w-2/4 border-green-500 border-2 mx-auto my-6 p-2 rounded bg-green-200 text-green-800
}
.success-btn{
@apply bg-green-500  flex items-center justify-center gap-2 px-16 shadow-md mx-auto rounded text-white
}
.success-btn:hover{
    @apply ring ring-4 ring-green-300 ring-offset-2 ring-offset-green-500
}
.fail{
    @apply grid gap-4 px-4 w-2/4 border-red-500 border-2 mx-auto my-6 p-2 rounded bg-red-200 text-red-800
}
.fail-btn{
@apply bg-red-500  flex items-center justify-center gap-2 px-16 shadow-md mx-auto rounded text-white
}
.fail-btn:hover{
    @apply ring ring-4 ring-red-300 ring-offset-2 ring-offset-red-500
}
.noview{
    @apply w-3/5 flex justify-between p-6 mx-auto items-center shadow rounded my-6
}
.onview{
    @apply w-3/5 grid-cols-3 my-3 grid gap-6 p-6 mx-auto shadow
}

@media only screen and (max-width:600px) {
    .wrap{
        @apply mx-2 text-justify
    }
    .intro-text{
        @apply text-3xl 
    }
    .intro-text-2{
        @apply text-xl 
    }
    .inner-intro{
        @apply items-start mt-48
    }
    .header{
        @apply h-12
    }
    legend{
        @apply mx-2 text-sm
    }
    .form{
        @apply  w-5/6
    }
    .form-sign{
        @apply w-5/6 p-8 my-12
    }
    .inner-form{
        @apply flex-col gap-3 pb-2 grid-cols-none
    }
    .success{
        @apply grid gap-4 w-5/6 border-green-500 border-2 mx-auto my-6 p-2 rounded bg-green-200 text-green-800
    }
    .success-btn{
@apply bg-green-500 rounded text-white
    }
    .fail{
        @apply grid gap-4 w-5/6 border-red-500 border-2 mx-auto my-6 p-2 rounded bg-red-200 text-red-800
    }
    .fail-btn{
@apply bg-red-500 rounded text-white
    }
    
    
}
/* @media only screen and (max-width:800px){
.form{
    @apply w-2/4
}
.inner-form{
    @apply grid-cols-none flex-col 
}
} */